@import "tailwindcss";

@theme {
    --color-primary: #019b98;
    --color-secondary: #55ccc9;
    --color-tertiary: #c1ffff;
    --color-white: #fbfbfb;
    --color-main: #F0F2F5;
    --color-border: #B8B8B8;
}
